.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --primary-color: black;
  --secondary-color: #b7309b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--secondary-color);
  font-family: Helvetica, Arial, sans-serif;
}

/**Header area below**/
header {
  padding: 20px 5%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-size: cover;
  background-attachment: fixed;
  z-index: 9999;
  justify-items: center;
}

header a {
  text-decoration: none;
  color: white;
}

header h1 a{
  margin: 0;
  font-weight: bold;
  font-size: 36px;
  color: black;
  background: white;
  padding: 5px 10px;
}

header nav {
  margin: 7px 0;
}

header nav ul,
footer nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px;
  font-weight: 500;
  font-size: 1.55vw;
  line-height: 1.6;
}

.header-active {
  color: rgba(0, 0, 0, 1) !important;
  background: white;
  transition: 1s;
}
/**End header**/

.page-footer {
  display: flex;
  flex-wrap: wrap;
  background-size: cover;
  background-attachment: fixed;
  justify-items: center;
  justify-content: center;
  align-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
}

.react-icon {
  color: white;
  font-size: 2rem;
}

footer nav ul li {
  margin: 0px 10px;
}

/* used this for sticking footer on bottom https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/#:~:text=The%20footer%20is%20set%20to,the%20content%2Dwrap%20above%20it. */
.App {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 4rem;
}

/**General section formatting below**/
section {
  padding: 60px 5% 60px 8%;
}

.active-category {
  color: black;
  transition: .5s ease-in-out;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.about {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content {
  flex: 6;
  width: 85%;
}

.section-title {
  font-size: 1.6em;
  color:var(--primary-color);
  text-align: right;
  margin: 0 20px 0 0;
  flex: 1 10%;
  align-items: flex-start;
  border-right: solid 1vw var(--secondary-color);
  padding-right: 15px;
  width: 15%;
}

/**Hero below**/
.hero {
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  background-attachment: fixed;
  height: 200px;
}

.hero-subtitle {
  color: #fff;
  line-height: 1.2;
  font-size: 3vw;
  font-style: italic;
  text-shadow: 0 0 10px rgba(0, 0, 0, .5);
  display: inline;
  text-align: right;
}

/*Grid area*/
.service-grid-wrapper {
  display: flex;
  width: 100%;
  justify-content: normal;
}

.service-grid-container {
  width: 100%;
  color:var(--primary-color);
  font-size: 1.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1ft;
  grid-auto-flow: row;
  gap: 12px;
}

.service-grid-item {
  width: 100%;
  background-size: cover;
  border: 2px solid var(--primary-color);
  display: flex;
  align-items: flex-end;
  justify-content: left;
  position: relative;
  min-height: 250px;
  max-height: 400px;
}

/*Idea for gradient swap came from https://keithjgrant.com/posts/2017/07/transitioning-gradients/*/
.service-grid-item::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(rgba(129, 214, 235, .6), rgba(183, 48, 155, .7));
  top: 0;
  left: 0;
  opacity: 0;
  transition: 1s;
}

.service-grid-item::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(rgba(183, 48, 155, .7), rgba(129, 214, 235, .6));
  top: 0;
  left: 0;
  opacity: 1;
  transition: 1s;
  backface-visibility: hidden;
}

.service-grid-item:hover::after, .service-grid-item:hover::before {
  opacity: 1;
  transition: 1;
}

.service-grid-item:hover .grid-text,
.service-grid-item:hover .work-icon {
  color: white;
  transition: 1s;
  opacity: 1;
  transition-timing-function: ease-out;
  z-index: 9999;
}

.work-icon {
  align-self: flex-start;
  transition: .5s ease;
  opacity: 0;
  font-size: 8vh;
  margin: 10px;
}

.grid-text {
  background: black;
  z-index: 9999;
  padding: 10px 5px 10px 3px;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  text-align: left;
}

.service-grid-item a .grid-text {
  padding: 10px;
  background: var(--primary-color);
  color: var(--secondary-color);
}

.service-grid-item a {
  text-decoration: none;
  text-align: left;
  z-index: 6;
}

.grid-text h4 {
  font-weight: normal;
}
/**End grid**/

/**Contact below**/
#contact-form {
  width: 100%;
}

.input-group {
  display: flex;
  align-items: center;
  display: block;
  margin-bottom: 4px;
}

.contact-label {
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  display: block;
}

.input-area {
  width: 100%;
}

.submit-btn {
  font-size: 20px;
  color: white;
  border: none;
  font-weight: bold;
  background-color: #c524a5;
  padding: 10px;
}

.submit-btn:hover {
  background-color: #92197a;
}

.submit-btn:active {
  transform: translateY(4px);
}

.submit-btn:focus {
  outline: none;
}
/**End contact**/

/* Start Resume */
#skill-writeup {
  font-size: 18px;
  margin-bottom: 20px;
}

.mern-label {
  font-weight: bolder;
  color: black;
}

.skill-list {
  list-style-type: none;
}

.skill-list li {
  padding: 2px 0px;
}
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    /* this will be applied on any screen smaller than 980px */
    header {
        padding-bottom: 18px;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  /* this will be applied on any screen between 768px and 575px */
  
  .hero {
    height: 125px;
  }

  section {
      padding: 30px 15px;
  }

  /**Changing font to vw lower than 768px**/
  .hero-subtitle h2 {
      font-size: 6.5vw;
      margin: 0 30px;
  }

  .flex-row {
      display: inline-block;
  }

  .about, .work, .contact {
      margin: 0 30px;
  }

  /**Reformatting the section titles from sitting left with right border to sitting top with bottom border**/
  .section-title {
      text-align: center;
      width: 100%;
      border-bottom: solid 1.3vh var(--secondary-color);
      border-right: none;
      display: block;
      margin: 0 0 20px 0;
      padding: 0 0 15px 0;
      flex: unset;
      font-size: 4vw;
  }

  .about p {
      font-size: 2vw;
  }

  .content {
      flex: unset;
      width: 100%;
  }

  /**Changed gird to go two column, text to white for better contrast on mobile**/
  .service-grid-container {
      grid-template-columns: 1fr 1fr;
  }

  .service-grid-item h3, .service-grid-item h4 {
      color: white;
  }

  .contact-info {
      justify-content: center;
  }

  .contact-info nav ul li a {
      margin: 0 1vw;
      font-size: 3.1vw;
  }

  .contact {
      margin-bottom: 8vh;
  }
} 

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    /* this will be applied on any screen smaller than 575px */
  .contact {
      margin-bottom: 15px;
  }
}